body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#app {
    margin-top: 20px;
}

input, select, button {
    margin: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: forestgreen;
    color: white;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.actions {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.actions button {
    margin: 0;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

.notification {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.taskInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskText, .category {
    margin-right: 20px;
}


